  .text {
padding: 16px 32px 8px;
margin: 8px 12px;
font-family: 'Brush Script MT', monospace;
font-size: 28px;
color:#FFFFFF;
}
.kastite{
  margin: 50px 20px 50px 20px;
  background-color:#63CC0F;
  border-color: #FFFFFF;
  padding: 15px 15px 15px 15px;
  width: 35%;
}
.pog{
  background-color: #547E45;
  text-align: center;
  color:#63CC0F;
  font-size: 18px;
  border: 2px ;
  border-radius: 50px 50px 50px 50px;
  padding: 8px 8px 8px 8px;
  margin-left: 450px;
  font-family: 'Brush Script MT', monospace;
}

 .raksti {
background-color: #547E45;
color:#63CC0F;
font-weight: bold;
width: 160px;
border: 2px;
border-radius: 22px 22px 22px 22px;
padding: 8px 8px 8px 8px;
margin: 12px 12px 12px 12px;
text-align: center;
font-family: 'Brush Script MT', monospace;
}
.bilza {
  border: 5px;
  width:50%;
  height:50%;
  margin-left: 80px;
}
 .ieksa{
background-color: #547E45;
color:#63CC0F;
width: 170px;
border: 2px;
border-radius: 27px 27px 27px 27px;
padding: 9px 9px 9px 9px;
margin: 12px 12px 12px 12px;
text-align: center;
font-family: 'Brush Script MT', monospace;
}
 .lodzins{
color:  #547E45;
width: 150px;
border: 2px;
border-radius: 46px 46px 46px 46px;
padding: 5px 5px 5px 5px;
height: 30px;
width: 30px;
margin-left: 135px;
}
.svitra{
  width: 95%;
  color: #547E45;
}
